{% extends "museos/base.html" %}
 
{% block title %}Tu App MuseosMadrid{% endblock %}

{% block subtitle_1 %}Museos más comentados{% endblock %}

{% block content_2 %}
	<div>	    
		<form action="" method="POST">
  			<input type="submit" value="Todos" name="Todos">
		</form> 		
	</div>

	<div>	    
		<form action="" method="POST">
  			<input type="submit" value="Cargar" name="Cargar">   
		</form> 		
	</div>	

	<div>    	
		<h3>Museos preferidos por otros usuarios</h3>
		<p>Rellenar</p>
	</div>
{% endblock %}


       
    

