.inicio_3 {
	font-family: 'Indie Flower';
	margin-left: 20px;
	color: #BF6141;
}

.todos_3 {
	font-family: 'Indie Flower';
	margin-top: -46px;
	margin-left: 95px;
	color: #BF6141;
}

.about_3 {
	font-family: 'Indie Flower';
	margin-left: 170px;
	margin-top: -46px;
	color: #BF6141;
}
